.field {
  width: 100%;
  padding: 10px 0;
  height: 70px;
  position: relative;
  border-radius: 10px;
}
.field input {
  border: 1px solid #e5e5e5;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
}
.field label {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  left: 10px;
  top: 15px;
}

.curr {
  background-color: #faf1ff;
  padding: 5px 0;
  width: 100px;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 10px;
}

.curr img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
